.box-hobby {
  width: 100%;
  height: 100vh;
}

.box-col {
  width: 80%;
  height: 500px;
}

.box-col h3 {
  font-size: 32px;
}

.box-col p {
  font-size: 20px;
}

.box-col:hover {
  transition: 1s;
  transform: scale(1.05);
}

.title {
  padding-top: 90px;
  padding-bottom: 50px;
}

.box-icon {
  width: 80px;
  height: 80px;
  border-radius: 14px;
  transform: rotate(45deg);
}

.box-icon i {
  transform: rotate(-45deg);
}

/* responsive */

@media (max-width: 575.98px) {
  .box-col {
    margin-top: 10px;
    width: 90%;
  }
  .box-text {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .box-col {
    margin-top: 15px;
  }
}

@media (max-width: 991.98px) {
  .box-hobby {
    height: 100%;
  }
  .box-col {
    margin: 20px;
  }
}
